<div class="mt-8 border-green-400 border flex mr-0.5">
  <figcaption
    class="img-container self-center border-green-400 border-2 rounded-full overflow-hidden h-32 w-32 sm:w-60 sm:h-60 m-2 sm:m-6"
  >
    <img
      class="-mt-8 pl-4 bg-[#bbccdd]"
      src="assets/cvPhoto.jpg"
      alt="Maxime_photo"
    />
  </figcaption>

  <div class="text-left justify-center flex flex-col mr-2 sm:mr-6">
    <span class="font-bold text-xl text-green-400">Raia Maxime</span>
    <p [innerText]="headerText"></p>
    <p class="italic">Angular 13+ ~ Nx ~ NGXS</p>
  </div>
</div>
